@media (max-width: 1500px){
    .fv-userName,.fv-email,.fv-tell,.fv2-address{
        height: 25px;
    }
    .fv-select{
        height: 25px;
    }
    .fv-content{
        height: 140px; 
    }
    .fv-form-btn{
        width: 220px;
        height: 60px;
    }
}

@media (max-width: 1200px){
    .fv-userName,.fv-email,.fv-tell,.fv2-address{
        height: 20px;
    }
    .fv-select{
        height: 20px;
    }
    .fv-content{
        height: 120px; 
    }
    .fv-form-btn{
        width: 200px;
        height: 50px;
    }

}

@media (min-width:900px) and (max-width: 1025px){
    .fv-content{
        height: 100px; 
    }
    .fv-form-btn{
        width: 180px;
        height: 40px;
    }
   
}

@media (orientation:landscape) and (max-width:1025px){

    .fv-content{
        height: 100px; 
    }
    .fv-form-btn{
        width: 180px;
        height: 40px;
    }
    
}

@media (max-width: 900px){
    .fv-userName,.fv-email,.fv-tell,.fv2-address{
        height: 15px;
    }
    .fv-select{
        height: 15px;
    }
    .fv-content{
        height: 80px; 
    }
    .fv-form-btn{
        width: 160px;
        height: 30px;
    }
    .ca-contact{
        height: 1200px;
    }
}

@media (orientation:landscape) and (max-width:900px){
    .fv-userName,.fv-email,.fv-tell,.fv2-address{
        height: 15px;
    }
    .fv-select{
        height: 15px;
    }
    .fv-content{
        height: 80px; 
    }
    .fv-form-btn{
        width: 160px;
        height: 30px;
    }
    .ca-contact{
        height: 1300px;
    }
}


@media (orientation:landscape) and (max-width: 769px){
   

}
@media (max-width: 769px){

    .logo{
    height: 5%;
    }
.fastview-right{
    display: none;
}
.firstview-speechbubble{
    display: none;
}
.cv-phone-firstview{
    display: none;
}

.fastview-right-sp{
    display: block;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
}
.cv-phone-sp{
    display: block;
    height: 100%;
    }
    .cv-phone-sp:hover{
       height: 74%;
       opacity: 0.7;
        }
    .cv-fv-sp{
    display: block;
    height: 100%;
    }
    .cv-fv-sp:hover{
        height: 74%;
        opacity: 0.7;
         }

         .pic-cv-phone-sp{
            height: 75%;
         }
         .pic-cv-fv-sp{
            height: 75%;
         }


         .fixed-cv-box{
            display: block;
            display: flex;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: fixed;
            bottom: 0%;
            z-index: 20;
            align-items: stretch;
        }
        .fixed-cv-phone-sp{
            bottom: 0;
            display: block;
            width:100%;
        }
        .fixed-cv-fv-sp{
            bottom: 0;
            display: block;
            width: 100%;
        }      
        .pic-fixed-cv-phone-sp{
            width: 100%;
            height: 100%;
         }
         .fixed-cv-phone-sp:hover{
            opacity: 0.7;
         }
         .pic-fixed-cv-fv-sp{
            width: 100%;
            height: 100%;
         }
         .fixed-cv-fv-sp:hover{
            opacity: 0.7;
         }



 .pic-fastview{
        display: none;
    }
    .pic-fastview-sp{
        display: block;  
        width: 100%;
        height: 100%;
    }
   
    .fv-contact{
        display: none;
    }

    .maker-area{
        padding: 3rem 0rem 3rem;
    }
    .maker-logo{
        width: 15%;
      }

      .pic-speechbubble-sp{
        display: block;
        width: 100%;
      }






      .contact-area-sp{
        display: block;
        width: 100%;
        height:auto;
        padding-bottom: 5rem;
        background-color: rgba(227, 235, 255, 0.28);
    }

    
.contact-sp{
    display: block;
    width: 90%;
    height: auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 5px 5px 10px  darkgray;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.title-contact-sp{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 5rem;
}
.form-sp{
    width: 100%;
    text-align: center;
}
.userName-sp,.email-sp,.tell-sp,.address-sp{
    width: 80%;
    height: 45px;
    margin-bottom: 5%;
}
.select-sp{
    width: 80%;
    height: 45px;
    margin-bottom: 5%;
}
.content-sp{
    width: 80%;
    height: 200px;
    margin-top: 5%;  
}

.p-form__btn-sp{
    margin-top: 5%;
}
.form-btn-sp{
   width: 60%;
}
.form-btn-sp:hover{
    opacity: 0.7;
}



#service-area{
    padding-bottom: 5rem;
    background-color: #ffffff;
}
.problem-for-solution{
    display: none;
}
.problem-for-solution-sp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 10rem;
}

.service-box{
    width: 100%;
    height: auto;
   display: block;
    justify-content: space-around;
    background-color: rgba(227, 235, 255, 0.28);
    padding: 5rem 0rem 5rem;
}
.service-box-item{
    position: relative;
      width: 80%;
      height: 650px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffffff;
      text-align: center;
      margin-bottom: 10rem;
      padding: 2rem 0rem 5rem;
  }
  .service-title{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 3rem 0rem 3rem;
}
.pic-service{
    width: 60%;
}
.service-description{
    font-size: 2rem;
    width: 80%;
    margin: 3rem auto 13rem auto;
    text-align: start;
}
.cv-service{
    width: 70%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%,-1%); 
}
.cv-service:hover{
    width: 73%;
    opacity: 0.7;
}


#introduce-area{
    padding-bottom: 15rem;
}
.title-introduce{
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 60%;
}
.pic-introduce{
    display: none;
}
.pic-introduce-sp{
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.down-arrow-orange{
    display: none;
}
.pic-text-summary-point{
    display: none;
}

.section-title-strong-point{
    font-size: 3rem;
}
.pic-time{
    width: 100%;
}


.triangle-introduce-product{
    width: 40%;
}
.section-title-introduce-product{
    font-size:3rem;
}
.summary-introduce-product{
    width: 95%;
}
.pic-main-introduce-product{
    width: 100%;
}
.btn-cv{
    width: 80%;
}
.btn-cv:hover{
    width: 83%;
    opacity: 0.7;
}


.pic-map-area{
    display: none;
}
.pic-map-area-sp{
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.section-title-flow{
    font-size: 3rem;
}
.pic-flow{
    width: 100%;
}

.section-title-contact{
    font-size: 3rem;
}
.ca-form-btn{
    width: 70%;
    height: 90px;
    font-size: 2.5rem;
}

footer{
   height: 500px;
}
.footer-left{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0%,-50%);
    width: 100%;
}
.flex-footer2{
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    
}
.sp-footer-bottom{
    display: flex;
    align-items: center;
}

.company-name{
    font-size: 4rem;
}
.access,.e-mail-address,.tel-number{
    font-size: 3rem;
}
.e-mail-address{
    margin-right: 10rem;
}
.rink{
    font-size: 2rem;
}
.fa-external-link-alt{
    font-size:2rem;
}
.copyright{
    font-size: 2rem;
}

}




@media (max-width: 700px){
   
}

@media (max-width: 599px){
    .service-title{
        font-size: 2rem;
    }
    .section-title-strong-point{
        font-size: 2rem;
    }
    .section-title-introduce-product{
        font-size:2rem;
    }
    .section-title-flow{
        font-size: 2rem;
    }
    .section-title-contact{
        font-size: 2rem;
    }

    .ca-userName,.ca-email,.ca-tell,.ca2-address{
        height: 60px; 
    }
    .ca-select{
        height: 60px;
    }
    .ca-content{
        height: 320px;
    }
    .ca-form-btn{
        width: 350px;
        height: 80px;
       font-size: 2rem;
    }

    .company-name{
        font-size: 3rem;
    }
    .access,.e-mail-address,.tel-number{
        font-size: 2rem;
    }
    .e-mail-address{
        margin-right: 10rem;
    }
    .rink{
        font-size: 1.5rem;
    }
    .fa-external-link-alt{
        font-size:1.5rem;
    }
    .copyright{
        font-size: 1.5rem;
    }
} 

@media (max-width: 481px){
    .service-box-item{
        position: relative;
          height: 450px;
      }
    .service-description{
        font-size: 1.5rem;
    }

    .ca-contact{
        height: 1000px;
    }
    .ca-userName,.ca-email,.ca-tell,.ca2-address{
        height: 40px; 
    }
    .ca-select{
        height: 40px;
    }
    .ca-content{
        height: 280px;
    }
    .ca-form-btn{
        width: 250px;
        height: 60px;
       font-size: 1.7rem;
    }

    .company-name{
        font-size: 2rem;
    }
    .access,.e-mail-address,.tel-number{
        font-size: 1.5rem;
    }
    .e-mail-address{
        margin-right: 10rem;
    }
    .rink{
        font-size: 1.2rem;
    }
    .fa-external-link-alt{
        font-size:1.2rem;
    }
    .copyright{
        font-size: 1.2rem;
    }
    
}

@media (max-width: 450px){
   
    .contact-area-sp{
        display: block;
        width: 100%;
        height:auto;
        padding-bottom: 5rem;
        background-color: rgba(227, 235, 255, 0.28);
    }

    
.contact-sp{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.title-contact-sp{
    font-size: 1.7rem;
}

.userName-sp,.email-sp,.tell-sp,.address-sp{
    height: 30px;
}
.select-sp{
    height: 30px;
}
.content-sp{
    height: 140px;  
}
.form-btn-sp{
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
}

.service-box-item{
      height: 460px;
  }
.pic-service{
    width: 80%;
}

.title-introduce{
    width: 70%;
}
.section-title-strong-point{
    font-size: 1.7rem;
}
.section-title-introduce-product{
    font-size:1.7rem;
}
.section-title-flow{
    font-size: 1.7rem;
}
.section-title-contact{
    font-size: 1.7rem;
}

.inner-introduce-product{
    padding-bottom: 5rem;
}


.ca-contact{
    height: 650px;
}
.ca-userName,.ca-email,.ca-tell,.ca2-address{
    height: 30px; 
}
.ca-select{
    height: 30px;
}
.ca-content{
    height: 200px;
}
.ca-form-btn{
    width: 220px;
    height: 50px;
   font-size: 1.7rem;
}
footer{
    height: 400px;
 }

}

@media (max-width: 376px){
    .service-box-item{
        height: 450px;
    }
    .cv-service{
        width: 80%;
    }
    .cv-service:hover{
        width: 83%;
        opacity: 0.7;
    }


    #contact{
        padding: 5rem 0rem 5rem;
        background-color: rgba(227, 235, 255, 0.28);
    }
    .ca-contact{
        width: 90%;
        height: 600px;
    }
    .ca-userName,.ca-email,.ca-tell,.ca2-address{
        height: 25px; 
    }
    .ca-select{
        height: 25px;
    }
    .ca-content{
        height: 180px;
    }
    .ca-form-btn{
        width: 220px;
        height: 50px;
       font-size: 1.7rem;
    }
}

@media (max-width: 321px){
    .contact-sp{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .title-contact-sp{
        font-size: 1.5rem;
    }
    .userName-sp,.email-sp,.tell-sp,.address-sp{
        height: 20px;
    }
    .select-sp{
        height: 20px;
    }
    .content-sp{
        height: 120px;  
    }
    .form-btn-sp{
        width: 170px;
        height: 40px;
        font-size: 1.2rem;
    }

    .service-box-item{
        height: 400px;
    }
    .service-title{
        font-size: 1.5rem;
    }
    .service-description{
        font-size: 1.2rem;
    }
    .cv-service{
        width: 80%;
    }

    .section-title-strong-point{
        font-size: 1.4rem;
    }
    .section-title-introduce-product{
        font-size:1.4rem;
    }
    .section-title-flow{
        font-size: 1.4rem;
    }
    .section-title-contact{
        font-size: 1.4rem;
    }


    #contact{
        padding: 1rem 0rem 5rem;
        background-color: rgba(227, 235, 255, 0.28);
    }
    .ca-contact{
        width: 90%;
        height: 550px;
    }
    .ca-userName,.ca-email,.ca-tell,.ca2-address{
        height: 20px; 
    }
    .ca-select{
        height: 20px;
    }
    .ca-content{
        height: 150px;
    }
    .ca-form-btn{
        width: 200px;
        height: 40px;
       font-size: 1.5rem;
    }

    footer{
        height: 300px;
     }

}